@model IEnumerable<Order.Models.Menu>

@{
    ViewBag.Title = "Order food online";
}

<h2>@ViewBag.Message</h2>
@{
    int currentDay = (int)DateTime.Now.DayOfWeek;
    if (currentDay == 0 || currentDay == 6)
    {
        <div class="message">Have a nice weekend!</div>        
    }
    else
    {
        <div class="main_content">
            <div class="menu_list">
                <div id="loading"><img src="@Url.Content("~/Content/images/ajax-loader.gif")" /></div>
                <div class="heading">Menu</div>
                <table width="100%">
                    <tbody data-bind="foreach: menus">
                        <tr>
                            <td>
			                    <span data-bind="text: $index() + 1"></span>
                            </td>
                            <td>
			                    <span data-bind="text: Name"></span>
                            </td>
                            <td>
			                    <span data-bind="text: Price"></span>
                            </td>
                            <td>
                                <div id="order" class="select" data-bind="click: $root.order" title="Order"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
        
            </div>
            <div class="saperator"></div>
            <div class="order_menu">
                <div data-bind="visible: total() > 0" class="heading">Orders</div>
                <table width="100%">
                    <tbody data-bind="foreach: selectedMenus">
                        <tr>
                            <td>
			                    (<span data-bind="text: Count"></span>) <span data-bind="text: Name"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="quantity" data-bind="visible: total() > 0,text: 'Quantiy: ' + total()"></div>
                <div class="total" data-bind="visible: total() > 0,text: 'Total: ' + accounting.formatMoney(amount())"></div>
                <div class="clear"></div>
                <br /><br />
                <div data-bind="visible: total() > 0" class="heading">Details</div>
                <table width="100%">
                    <tbody data-bind="foreach: orderDetails">
                        <tr>
                            <td>
                                <div style="word-wrap:break-word;width:100px;">
			                        <span data-bind="text: FullName.substring(0, 50)"></span>
                                </div>
                            </td>
                            <td>
                                <span data-bind="text: Name"></span>
                            </td>
                            <td>
                                <span data-bind="text: Price"></span>
                            </td>
                            <td>
                                <div class="remove" data-bind="click: $root.remove" title="Remove"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear"></div>
        </div>
        <div class="saperator_end"></div>
    }
}   


<div id="dialog-form" title="Message">
    <form id="nameForm" method="post">
        <br /><br />
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="required" />
        
    </form>
</div>



<script type="text/javascript">
    jQuery.extend(jQuery.validator.messages, {
        required: "Please input your name."
    });
    $('#dialog-form').live('keyup', function (e) {
        if (e.keyCode == $.ui.keyCode.ENTER) {
            $(':button:contains("OK")').click();
        }
    });
    $("#dialog-form").dialog({ autoOpen: false });
    $(document).ready(function () {
        $("#loading").show();
    })
    
</script>



<script src="@Url.Content("~/Scripts/myScript.js")" type="text/javascript"></script>